<head>
    <style>

       #map {
            position: relative;
            height: 100%;
            width: 50%
        }

    </style>
</head>

<div id="map"></div>

<script>

    function initMap() {
        var latitude = 39.134556;
        var longitude = -84.515413;
        var mapProp= {
          center:new google.maps.LatLng(latitude,longitude),
          zoom:17,
        };

        var bbox = [-84.8192049318631, 39.0533271607855, -84.2545822217415, 39.3599982625544];

        var x = bbox[1];
        var xf = bbox[3];
        var y = bbox[0];
        var yf = bbox[2];

        x0 = x;
        y0 = y;

        var map = new google.maps.Map(document.getElementById("map"),mapProp);

        document.addEventListener('DOMContentLoaded', function () {
            var gridGeoJSON = {{ polygon | safe }};

            // Use gridGeoJSON in your JavaScript code to add it to the map
            console.log('Grid GeoJSON:', gridGeoJSON);

            var googleMapsPolygons = turfCoordToGoogleMapsPolygons(gridGeoJSON);
            console.log("googleMapsPolygons",googleMapsPolygons);

            for (var i = 0; i < googleMapsPolygons.length; i++) {
                new google.maps.Polygon({
                    paths: googleMapsPolygons[i],
                    map: map,
                    strokeColor: '#000000',
                    strokeOpacity: 0.8,
                    strokeWeight: 1,
                    fillColor: '#0000FF',
                    fillOpacity: 0.35
                    });
            }


        });

        // Function to convert Turf.js coordinates to Google Maps API polygons

        function turfCoordToGoogleMapsPolygons(geojson) {
           var polygons = [];

           geojson.features.forEach(function (feature) {
               var coords = feature.geometry.coordinates[0];
               var googleMapsCoords = coords.map(function (coord) {
                   return { lat: coord[1], lng: coord[0] };
               });
               polygons.push(googleMapsCoords);
           });
           return polygons;
        }

    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap" async defer></script>
<script src="https://unpkg.com/@turf/turf"></script>


