<head></head>

<body>
<div>
    <script>
      {% if zscore_compute_list %}
        <script>
            // Load JSON data asynchronously
            fetch('/data')
                .then(response => response.json())
                .then(zscore_compute_list => {
                    console.log("zscore_compute_list",zscore_compute_list);
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('visualization').style.display = 'block';

                    // Use D3 to create your visualization using the 'data' variable
                    // For example:
                    // var data = data;
                    // Your D3 code here...
                })
                .catch(error => console.error('Error loading data:', error));
        </script>
        {% else %}
        <div class="loading-page">
            <div class="loading-spinner"></div>
            <p>Loading...</p>
        </div>
        <div id="visualization" style="display: none;"></div>
        {% endif %}
        </script>

</div>
</body>